<%= render :partial => 'shared/header' %>

<%= render :partial => 'shared/navbar' %>

<%= content_for :stripe do %>
        <h3>ОМС</h3>
<% end %>

<%= render :partial => 'shared/stripe' %>

<div class="bot-border">
        <div class="container">
                <div class="span12">
			<h3> Основы ОМС</h3>
		      <p>С 1 января 2015 года «Центр здоровья семьи» будет работать по полисам обязательного медицинского страхования (<b>ОМС</b>).</p><p>
Медицинская помощь по обязательному медицинскому страхованию (<b>ОМС</b>) осуществляется по полису <b>ОМС</b>, за счет средств <b>ОМС</b>, по правилам<b> ОМС</b>, в объеме, установленном территориальной программой <b>ОМС</b>.</p>
<p>
«Центр Здоровья семьи» по полису <b>ОМС</b> обеспечивает лечение в условиях дневного стационара застрахованных в количестве, выделенном ТФОМС по Костромской области, по заболеваниям:
<ul class="unstyled" style="font-family: Helvetic Light; font-size: 16px">
<li>- токсикозом беременности,</li> 
<li>- угрозой прерывания беременности,</li>
<li>- лечение воспалений органов малого таза у женщин и мужчин,</li>
<li>- амбулаторное оперативное лечение некоторых малых хирургических, урологических, андрологических и гинекологических заболеваний в рамках дневного стационара <b>при отсутствии противопоказаний</b>.</li></ul></p><p>
Для получения услуг и проведения дополнительных методов исследований необходимо предъявить документы, удостоверяющие личность застрахованного (паспорт, свидетельство о рождении для детей, полис ОМС, свидетельство пенсионного страхования - СНИЛС),<b> а так же направление лечащего врача</b>.
</p><p><b>Время оказания услуг по ОМС с 8.00 до 12.00</b></p><p>
Во избежание длительных очередей прием ведется только по предварительной записи. Получить более подробную информацию можно по телефонам у операторов:<b> 37-34-32, 35-13-34, +7 960 744 8888</b>.
		      </p>
		      <ol class="documents" >
                        <li><%= link_to "Выбор медицинского учреждения", eval("#{@namespace}_upload_path(:file =>'vibor_lech_uch.pdf')") %></li>
                        <%#= link_to "Основа ОМС", eval("#{@namespace}_upload_path(:file =>'osnova_oms.docx')") %>
                        <li><%= link_to "Основные права пациента и обязанности граждан в сфере охраны здоровья", eval("#{@namespace}_upload_path(:file =>'prava.docx')") %></li>
                        <li><%= link_to "Положение «О ПОРЯДКЕ РАССМОТРЕНИЯ ОБРАЩЕНИЙ ГРАЖДАН» в медицинских центрах «ЦЕНТР ЗДОРОВЬЯ СЕМЬИ» и «КРЕПЫШ» ООО«Гинеколог и Я»", eval("#{@namespace}_upload_path(:file =>'por_ras.docx')") %></li>
                        <li><%= link_to "Правила оказания медицинской помощи", eval("#{@namespace}_upload_path(:file =>'pravila_okasania.docx')") %></li>
                        <li><%= link_to "Программа государственных гарантий", eval("#{@namespace}_upload_path(:file =>'progr_gos_ugar.pdf')") %></li>
                        <li><%= link_to "Страховые компании", eval("#{@namespace}_upload_path(:file =>'strax_com.docx')") %></li>
                        <li><%= link_to "Программа государственных гарантий", eval("#{@namespace}_upload_path(:file =>'prog_2015_2017.pdf')") %></li>
                        <li><%= link_to "Территориальная программа государственных гарантий", eval("#{@namespace}_upload_path(:file =>'prog_gov_assurance_KO.pdf')") %></li>  
                        <li><%= link_to "Перечень жизненно-необходимых и важнейших лекарственных препаратов", eval("#{@namespace}_upload_path(:file =>'JVL_list.pdf')") %></li> 
                        <li><%= link_to "Территориальный перечень жизненно- необходимых и важнейших лекарственных препаратов", eval("#{@namespace}_upload_path(:file =>'ter_JVL_list.pdf')") %></li>
                        <li><%= link_to "Показатели доступности и качества медицинской помощи", eval("#{@namespace}_upload_path(:file =>'quality_criteries.pdf')") %></li>              
                     </ol>
		</div>
	</div>
</div>	
<%= render :partial => 'shared/footer' %>
