<%= render :partial => 'shared/header' %>

<%= render :partial => 'shared/navbar' %>

<%= content_for :stripe do %>
        <h3>ОМС</h3>
<% end %>

<%= render :partial => 'shared/stripe' %>

<div class="bot-border">
        <div class="container">
                <div class="span12">
			<h3> Основы ОМС</h3>
		      <p>С 1 января 2015 года «Центр здоровья семьи» будет работать по полисам обязательного медицинского страхования (<b>ОМС</b>).</p><p>
Медицинская помощь по обязательному медицинскому страхованию (<b>ОМС</b>) осуществляется по полису <b>ОМС</b>, за счет средств <b>ОМС</b>, по правилам<b> ОМС</b>, в объеме, установленном территориальной программой <b>ОМС</b>.</p>
<p>
«Центр Здоровья семьи» по полису <b>ОМС</b> обеспечивает лечение в условиях дневного стационара застрахованных в количестве, выделенном ТФОМС по Костромской области, по заболеваниям:
<ul class="unstyled" style="font-family: Helvetic Light; font-size: 16px">
<li>- токсикозом беременности,</li> 
<li>- угрозой прерывания беременности,</li>
<li>- лечение воспалений органов малого таза у женщин и мужчин,</li>
<li>- амбулаторное оперативное лечение некоторых малых хирургических, урологических, андрологических и гинекологических заболеваний в рамках дневного стационара <b>при отсутствии противопоказаний</b>.</li></ul></p><p>
Для получения услуг и проведения дополнительных методов исследований необходимо предъявить документы, удостоверяющие личность застрахованного (паспорт, свидетельство о рождении для детей, полис ОМС, свидетельство пенсионного страхования - СНИЛС),<b> а так же направление лечащего врача</b>.
</p><p><b>Время оказания услуг по ОМС с 8.00 до 12.00</b></p><p>
Во избежание длительных очередей прием ведется только по предварительной записи. Получить более подробную информацию можно по телефонам у операторов:<b> 37-34-32, 35-13-34, +7 960 744 8888</b>.
		      </p>
		      <ol class="documents" >
                        <% @docs.each do |doc| %>
                            <li><%= link_to doc.name, eval("#{@namespace}_upload_path(:file => '#{doc.document.url.split('?').first}')") %> </li>
                        <% end %>      
                     </ol>
		</div>
	</div>
</div>	
<%= render :partial => 'shared/footer' %>
